<footer class="navbar navbar-expand-lg">
    <div class="container">
        <div class="col-3 text-center">
            <a class="navbar-brand" href="/">
                <img src="/images/icons/logo_orange.png" width="40%" height="40%" alt="logo" loading="lazy">
            </a>
        </div>
        <div class="col-2">
            <ul class="nav footer-menu-items flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="/">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">О компании</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/production">Наша продукция</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/works">Наши проекты</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/news">Новости</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contacts">Контакты</a>
                </li>
            </ul>
        </div>
        <div class="col-3">
            <ul class="flex-column menu-contacts">
                <li class="mb-1">
                    <a href="tel:+7(800)555-35-35">тел. +7(800)555-35-35</a>
                </li>
                <li class="mb-3">
                    <div >г.Новосибирск,<br> ул. Проспект Дзержинского, <br> д. 87</div>
                </li>
                <li>
                    <button type="button" class="contact-btn" data-toggle="modal" data-target="#formModal">Заказать звонок</button>
                </li>
            </ul>
        </div>
        <div class="col">
            <ul class="flex-column">
                <li class="">
                    <a href="/politics">Политика конфидециальности</a>
                </li>
                <li class="">
                    <a href="#">Arseniy and Kirill</a>
                </li>
            </ul>
        </div>
    </div>
</footer>
