<footer class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <a class="menu-logo-href" href="/"><img class="menu-logo" src="images/icons/logo.png" alt="logo"></a>
            <div class="footer-menu">
                <ul class="footer-menu-items">
                    <li class="footer-menu-item"><a class="footer-menu-page" href="">Главная</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-page" href="">О компании</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-page" href="">Наша продукция</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-page" href="">Наши проекты</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-page" href="">Новости</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-page" href="">Контакты</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>



<script src="/app.js"></script>
