<div class="footer">
    <div class="container">
        <div class="footer-wrapper">
            <a class="footer-menu-logo" href="/">
                <img class="menu-logo" src="images/icons/logo.png" alt="logo">
            </a>
            <div class="footer-menu">
                <ul class="footer-menu-items">
                    <li class="footer-menu-item"><a class="footer-menu-page" href="">Главная</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-page" href="">О компании</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-page" href="">Наша продукция</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-page" href="">Наши проекты</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-page" href="">Новости</a></li>
                    <li class="footer-menu-item"><a class="footer-menu-page" href="">Контакты</a></li>
                </ul>
            </div>

            <div class="footer-contacts">
                <a class="footer-contacts-phone" href="">88005553535</a>
                <div class="footer-contacts-address">г.Новосибирск,<br> ул. Проспект Дзержинского, <br> д. 87</div>
                <button class="menu-contacts-btn">Заказать звонок</button>
            </div>

            <div class="footer-more">
                <div class="footer-politics"><a class="footer-politics-link" href="#">Политика конфидециальности</a></div>
                <div class="footer-dev"><a class="footer-dev-link" href="#">Arseniy and Kirill</a></div>
            </div>
        </div>
    </div>
</div>



<script src="/app.js"></script>
