<div class="modal fade" id="formModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog justify-content-center" role="document">
        <div class="modal-content modal-form">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Контакт с нами</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&#10008;</span>
                </button>
            </div>
            <form method="post">
                <div class="modal-body">
                    <label for="name">
                        <input name="name" placeholder="Ваше имя...">
                    </label>
                    <label for="tel">
                        <input name="tel" placeholder="Ваш телефон...">
                    </label>
                </div>
                <div class="modal-footer mt-4">
                    <button type="submit">Заказать звонок</button>
                </div>
                <div class="modal-decor">
                    <span class="fa fa-phone"></span>+7(800)999-66-44
                    <span class="fa fa-envelope-o"></span> email@email.com
                </div>
            </form>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg menu">
    <div class="container">

        <div class="col-3 text-center">
            <a class="navbar-brand" href="/">
                <img src="/images/icons/logo_orange.png" width="40%" height="40%" alt="logo" loading="lazy">
            </a>
        </div>

        <div class="col">

            <ul class="nav justify-content-between menu-contacts-items">
                <li class="nav-item">
                    <a class="nav-link" href="#">+7(800)999-66-44</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+7(800)999-66-44</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">+7(800)999-66-44</a>
                </li>
                <li class="nav-item">
                    <button type="button" class="nav-link contact-btn" data-toggle="modal" data-target="#formModal">Заказать звонок</button>
                </li>
            </ul>

            <ul class="nav justify-content-between mt-1 menu-pages">
                <li class="nav-item">
                    <a class="nav-link {{#if isHome}}active{{/if}}" href="/">Главная</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{#if isAbout}}active{{/if}}" href="/about">О компании</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link {{#if isProduction}}active{{/if}}" href="/production" id="navbarDropdown" aria-haspopup="true" aria-expanded="false">
                        Наша продукция
                    </a>

                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Категория 1</a>
                        <a class="dropdown-item" href="#">Категория 2</a>
                    </div>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{#if isProjects}}active{{/if}}" href="/works">Наши проекты</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{#if isNews}}active{{/if}}" href="/news">Новости</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link {{#if isContacts}}active{{/if}}" href="/contacts">Контакты</a>
                </li>
            </ul>
        </div>
        {{#if isAuth}}
            <li><a class="logout" href="/admin/logout">Выйти</a></li>
        {{/if}}
    </div>
</nav>
