<div class="container">
    <div class="row justify-content-center mt-5">
        <h1>404 Error</h1>
    </div>
    <div class="row justify-content-center"><p>Страница не найдена</p></div>
    <div class="row justify-content-center mb-5"><a href="/">Вернуться на главную</a></div>
</div>