<div class="about">
    <div class="container">
        <h2 class="about-title">О <span class="title-color">компании</span></h2>
        <div class="about-description">Что-то, и что-то еще</div>
        <div class="reasons">
            <div class="reason1"></div>
            <div class="reason2"></div>
            <div class="reason3"></div>
            <div class="reason4"></div>
            <div class="reason5"></div>
            <div class="reason6"></div>
            <div class="reason7"></div>
        </div>
    </div>
</div>

