<div class="about-page">
    <div class="container">
        <h2 class="about-title">О <span class="title-color">компании</span></h2>
        <div class="about-page-description">Что-то, и что-то еще</div>
    </div>
</div>

