<div class="container">
    <h2>О КОМПАНИИ</h2>
    <div class="subtitle">simple text</div>
    <div class="decription">simple text simple text simple text simple text simple text simple text simple text simple text simple text </div>
    <div class="reasons">
        <div class="reason1"></div>
        <div class="reason2"></div>
        <div class="reason3"></div>
        <div class="reason4"></div>
        <div class="reason5"></div>
        <div class="reason6"></div>
        <div class="reason7"></div>
    </div>
</div>

