<div class="container">
    <div class="add-wrapper">
        <div class="card-preview">
            <div class="products-link">
                <div class="front">
                    <img class="preview-img" src="images/card.png" alt="products">
                    <div id="pretitle1" class="preview-title"></div>
                    <div class="preview-price">Стоимость: <span id="preprice1"></span> руб.</div>
                </div>
                <div class="back">
                    <div id="pretitle2" class="preview-title"></div>
                    <div id="previewdescr" class="preview-descr"></div>
                    <div class="preview-price">Стоимость: <span id="preprice2"></span> руб.</div>
                    <div class="btns">
                        <a class="btn-card" href="/production/{{id}}">Подробнее</a>
                        <a class="btn-card" href="#">Оформить</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="images-box">
            <ul id="images">

            </ul>
        </div>

        <div class="add">
            <h2 class="add-title">Добавить новый товар</h2>

            <form action="/add" method="POST" enctype="multipart/form-data" novalidate>
                <div class="add-field-title">
                    <input id="title" name="title" oninput="pretitle1.innerHTML = this.value; pretitle2.innerHTML = this.value" type="text" class="add-input-title" required value="" placeholder="Название товара...">
                    <label for="title"></label>
                    <p id="info1"></p>
                </div>

                <div class="add-field-short-description">
                    <textarea id="short-description" name="short_description" class="add-input-short-description"  oninput="previewdescr.innerHTML=this.value" required placeholder="Краткое описание для карточки товара..."></textarea>
                    <label for="short_description"></label>
                </div>

                <div class="add-field-description">
                    <textarea id="description" name="description" class="add-input-description" required placeholder="Описание для страницы товара..."></textarea>
                    <label for="description"></label>
                </div>

                <div class="add-field-price">
                    <input id="price" name="price" type="number" oninput="preprice1.innerHTML = this.value; preprice2.innerHTML = this.value" class="add-input-price" required min="1" value="" placeholder="Цена товара...">
                    <label for="price"></label>
                </div>

                <div class="add-field-img">
                    <input name="img" type="file" id="img" class="add-input-img" onchange="myFunc(this)" multiple value="">
                    <label for="img" class="input-file-button">
                        <span class="input-file-icon-wrapper"><img class="input-file-icon" src="images/icons/upload.svg" alt="Выбрать файл" width="25"></span>
                        <span class="input-file-button-text">Выберите изображения товара</span>
                    </label>
                </div>

                <button class="news-btn">Добавить товар</button>
            </form>

        </div>
    </div>
</div>