<h2 class="add-title">Добавить новый товар</h2>

<div class="add-wrapper">
    <form action="/add" method="POST" enctype="multipart/form-data" novalidate>
        <div class="add-field-title">
            <input id="title" name="title" type="text" class="add-input-title" required value="" placeholder="Название товара...">
            <label for="title"></label>
        </div>

        <div class="add-field-shortdescr">
            <textarea id="shortdescr" name="shortdescr" class="add-input-shortdescr" required placeholder="Краткое описание для карточки товара..."></textarea>
            <label for="shortdescr"></label>
        </div>

        <div class="add-field-description">
            <textarea id="description" name="description" class="add-input-description" required placeholder="Описание для страницы товара..."></textarea>
            <label for="description"></label>
        </div>

        <div class="add-field-price">
            <input id="price" name="price" type="number" class="add-input-price" required min="1" value="" placeholder="Цена товара...">
            <label for="price"></label>
        </div>

        <div class="add-field-img">
            <input name="img" type="file" id="img" class="add-input-img" multiple value="">
            <label for="img" class="input-file-button">
                <span class="input-file-icon-wrapper"><img class="input-file-icon" src="images/icons/upload.svg" alt="Выбрать файл" width="25"></span>
                <span class="input-file-button-text">Выберите фотографию для карточки товара</span>
            </label>
        </div>

        <div class="add-field-img">
            <input name="img" type="file" id="img" class="add-input-img" multiple value="">
            <label for="img" class="input-file-button">
                <span class="input-file-icon-wrapper"><img class="input-file-icon" src="images/icons/upload.svg" alt="Выбрать файл" width="25"></span>
                <span class="input-file-button-text">Выберите фотографии товара</span>
            </label>
        </div>

        <button class="add-btn">Добавить товар</button>
    </form>

</div>