<h2 class="add-title">Добавить новый товар</h2>

<div class="add-wrapper">
    <form action="/add" method="POST" novalidate>
        <div class="add-field-title">
            <input id="title" name="title" type="text" class="add-input-title" required value="{{data.title}}" placeholder="Название товара...">
            <label for="title"></label>
        </div>

        <div class="add-field-descr">
            <textarea id="descr" name="descr" type="text" class="add-input-descr" required value="{{data.descr}}" placeholder="Описание товара..."></textarea>
            <label for="descr"></label>
        </div>

        <div class="add-field-price">
            <input id="price" name="price" type="number" class="add-input-price" required min="1" value="{{data.price}}" placeholder="Цена товара...">
            <label for="price"></label>
        </div>

<<<<<<< HEAD
<!--        <div class="add-field-img">-->
<!--            <input id="img" name="img" type="file" class="add-input-img" required value="{{data.img}}" placeholder="URL картинки">-->
<!--            <label for="img"></label>-->
<!--        </div>-->

=======
>>>>>>> 3e3d720318dab7b4ffc991dd5b56ef5232930678
        <div class="add-field-img">
            <input name="img" type="file" id="img" class="add-input-img" multiple>
            <label for="img" class="input-file-button">
                <span class="input-file-icon-wrapper"><img class="input-file-icon" src="images/icons/upload.svg" alt="Выбрать файл" width="25"></span>
                <span class="input-file-button-text">Выберите файл</span>
            </label>
        </div>

        <button class="add-btn">Добавить товар</button>
    </form>

</div>