<div class="slider">
    <div class="item">
        <img src="images/slider/1.jpg" alt="Первый слайд">
        <div class="slideText">
            <span class="title-color">Полный</span> цикл работ
            <hr>
            Производство металло конструкций
        </div>
    </div>

    <div class="item">
        <img src="images/slider/2.jpg" alt="Второй слайд">
        <div class="slideText">
            <span class="title-color">Полный</span> цикл работ
            <hr>
            Производство металло конструкций
        </div>
    </div>

    <div class="item">
        <img src="../images/slider/3.jpg" alt="Третий слайд">
        <div class="slideText">
            <span class="title-color">Полный</span> цикл работ
            <hr>
            Производство металло конструкций
        </div>
    </div>
    <div class="container">
        <a class="prev" onclick="minusSlide()">&#10094;</a>
        <a class="next" onclick="plusSlide()">&#10095;</a>

        <div class="slider-dots">
            <span class="slider-dots_item" onclick="currentSlide(1)"></span>
            <span class="slider-dots_item" onclick="currentSlide(2)"></span>
            <span class="slider-dots_item" onclick="currentSlide(3)"></span>
        </div>
    </div>
</div>

<div class="about">
    <div class="container">
        <h2 class="about-title">О <span class="title-color">компании</span></h2>
        <div class="about-description">Что-то, и что-то еще</div>
        <div class="reasons">
            <div class="reason1"></div>
            <div class="reason2"></div>
            <div class="reason3"></div>
            <div class="reason4"></div>
            <div class="reason5"></div>
            <div class="reason6"></div>
            <div class="reason7"></div>
        </div>
    </div>
</div>

<div class="product">
    <div class="container">
        <h2 class="product-title"><span class="title-color">Наша</span> продукция</h2>
        <div class="tab-wrapper">
            <div class="tabs">
                <div class="tab-description" id="content-1">
                    Содержимое 1...
                </div>
                <div class="tab-description" id="content-2">
                    Содержимое 2...
                </div>
                <div class="tab-description" id="content-3">
                    Содержимое 3...
                </div>

<!--                привязать элемент к скролу-->

                <div class="tabs__links">
                    <a class="tab" href="#content-1">Вкладка 1</a>
                    <a class="tab" href="#content-2">Вкладка 2</a>
                    <a class="tab" href="#content-3">Вкладка 3</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="reasons">
    <div class="container">
        <h2 class="reasons-title">Причины выбрать <span class="title-color">нас</span></h2>
        <div class="reasons-wrapper">
            <div class="reasons-blocks">
                <div class="reasons-icon">
                    <img src="images/icons/reason-icon.png">
                </div>
                <div class="reasons-block">
                    <input id="reason-one" type="checkbox" name="reason">
                    <label for="reason-one">Первая причина</label>
                    <div class="reasons-description">
                        <p>Описание</p>
                    </div>
                </div>
                <div class="reason-item-plus"></div>
            </div>

            <div class="reasons-block">
                <input id="reason-two" type="checkbox" name="reason">
                <label for="reason-two">вторая причина</label>
                <div class="reasons-description">
                    <p>Описание</p>
                </div>
            </div>
            <div class="reasons-block">
                <input id="reason-three" type="checkbox" name="reason">
                <label for="reason-three">Третья причина</label>
                <div class="reasons-description">
                    <p>Описание</p>
                </div>
            </div>
        </div>
    </div>
</div>
