<div class="container">

    <div class="news">

        <div class="news-submenu">
            <ul class="breadcrumbs">

                <li class="breadcrumbs-item">
                    <a class="breadcrumbs-link" href="/">Главная</a>
                </li>

                <li class="breadcrumbs-item">
                    <a class="breadcrumbs-link disabled" href="">Новости</a>
                </li>

            </ul>

            {{#if isAuth}}
                <li class="add-product-li"><a class="add-product" href="/add-news">Добавить новость</a></li>
            {{/if}}

        </div>

        <h2 class="news-title"><span class="title-color">Наши</span> новости</h2>
        <div class="news-wrapper">
            <div class="news-block">
                <div class="news-img"></div>
                <div class="news-info">
                    <div class="news-info-title">Заголовок новости</div>
                    <div class="news-description">
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                    </div>
                </div>
            </div>

            <div class="news-block">
                <div class="news-img"></div>
                <div class="news-info">
                    <div class="news-info-title">Заголовок новости</div>
                    <div class="news-description">
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                    </div>
                </div>
            </div>

            <div class="news-block">
                <div class="news-img"></div>
                <div class="news-info">
                    <div class="news-info-title">Заголовок новости</div>
                    <div class="news-description">
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>