<div class="container">
    <div class="news-submenu">
        <ul class="breadcrumbs">

            <li class="breadcrumbs-item">
                <a class="breadcrumbs-link" href="/">Главная</a>
            </li>

            <li class="breadcrumbs-item">
                <a class="breadcrumbs-link disabled" href="">Новости</a>
            </li>

        </ul>

        {{#if isAuth}}
            <li class="add-product-li"><a class="add-product" href="/add-news">Добавить новость</a></li>
        {{/if}}
    </div>
</div>