<div class="container">
    <div class="news">
        <h2 class="news-title"><span class="title-color">Наши</span> новости</h2>
        <div class="news-wrapper">
            <div class="news-block">
                <div class="news-img"></div>
                <div class="news-info">
                    <div class="news-info-title">Заголовок новости</div>
                    <div class="news-description">
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                    </div>
                </div>
            </div>

            <div class="news-block">
                <div class="news-img"></div>
                <div class="news-info">
                    <div class="news-info-title">Заголовок новости</div>
                    <div class="news-description">
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                    </div>
                </div>
            </div>

            <div class="news-block">
                <div class="news-img"></div>
                <div class="news-info">
                    <div class="news-info-title">Заголовок новости</div>
                    <div class="news-description">
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                        Много текста Много текста Много текста Много текста Много текста Много текста Много текста Много текста
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>