<div class="container">
    <div class="news row justify-content-center">
        <div class="col-12">
            <div class="row position-absolute justify-content-between" style="width: 100%">
                <ul class="breadcrumbs">

                    <li class="breadcrumbs-item">
                        <a class="breadcrumbs-link" href="/">Компания</a>
                    </li>

                    <li class="breadcrumbs-item">
                        <a class="breadcrumbs-link disabled" href="">Новости</a>
                    </li>

                </ul>
                {{#if isAuth}}
                    <li class="add-product-li"><a class="add-product" href="/add-news">Добавить новость</a></li>
                {{/if}}
            </div>
            <div class="row justify-content-center mb-3">
                <h2 ><span class="title-color">Наши</span> новости</h2>
            </div>
        </div>
        <div class="col-md-8">
            {{#if news.length}}
                {{#each news}}
                    <div class="row news-list">
                        <div class="row">
                            <div class="col-4">
                                <img src="{{dir}}" alt="" width="100%" height="193px" style="border-radius: 10px">
                            </div>
                            <div class="col">
                                <div class="row">
                                    <span aria-hidden="true"></span> {{createdAt}}
                                </div>
                                <div class="row news-title">
                                    <h4>{{title}}</h4>
                                </div>
                                <hr>
                                <div class="row news-content hidden">
                                    <p class="text-justify">{{description}}</p>
                                </div>
                                <hr>
                                <div class="row justify-content-end news-button">
                                    <button type="button" onclick="b(this)">Развернуть</button>
                                </div>
                            </div>
                        </div>
                    </div>
                {{/each}}
            {{/if}}
        </div>
    </div>
</div>