<div class="container">
    <div class="products">
        <h2 class="products-title"><span class="title-color">Наша</span> продукция</h2>
        <div class="products-subtitle">Подзаголовок</div>
        <div class="products-wrapper">

            <a href="" class="products-box">

                <div class="product-name">Продукт 1</div>
            </a>

            <a href="" class="product-box">
                <div class="product-name">Продукт 1</div>
            </a>

            <a href="" class="product-box">
                <div class="product-name">Продукт 1</div>
            </a>

            <a href="" class="product-box">
                <div class="product-name">Продукт 1</div>
            </a>

            <a href="" class="product-box">
                <div class="product-name">Продукт 1</div>
            </a>

            <a href="" class="product-box">
                <div class="product-name">Продукт 1</div>
            </a>

        </div>
    </div>
</div>