<div class="container">
    <div class="products">
        <h2 class="products-title"><span class="title-color">Наша</span> продукция</h2>
        <div class="products-subtitle">Подзаголовок</div>
        <div class="products-wrapper">

            <div class="products-link">

                <div class="products-box">
                    <img class="products-img" src="https://pampascorporation.com/wp-content/uploads/2019/09/shutterstock_577492282.jpg" alt="products">
                    <div class="products-name">Имя продукта</div>
                    <div class="products-description">Описание Описание Описание Описание Описание Описание Описание Описание </div>
                    <a class="btn-link" href="">Подробнее</a>
                    <button class="btn-card"><a class="btn-card-link" href="">Оформить</a></button>
                </div>
            </div>

            <a class="products-link" href="">
                <div class="products-box">
                    <div class="products-name">Продукт 1</div>
                </div>
            </a>

            <a class="products-link" href="">
                <div class="products-box">
                    <div class="products-name">Продукт 1</div>
                </div>
            </a>

            <a class="products-link" href="">
                <div class="products-box">
                    <div class="products-name">Продукт 1</div>
                </div>
            </a>

            <a class="products-link" href="">
                <div class="products-box">
                    <div class="products-name">Продукт 1</div>
                </div>
            </a>

            <a class="products-link" href="">
                <div class="products-box">
                    <div class="products-name">Продукт 1</div>
                </div>
            </a>

        </div>
    </div>
</div>