<div class="container">
    <div class="products">
        <h2 class="products-title"><span class="title-color">Наша</span> продукция</h2>
        <div class="products-subtitle">Подзаголовок</div>
        <div class="products-wrapper">

            <a class="products-link" href="">
                <div class="products-box">
                    <div class="products-name">Продукт 1</div>
                </div>
            </a>

            <a class="products-link" href="">
                <div class="products-box">
                    <div class="products-name">Продукт 1</div>
                </div>
            </a>

            <a class="products-link" href="">
                <div class="products-box">
                    <div class="products-name">Продукт 1</div>
                </div>
            </a>

            <a class="products-link" href="">
                <div class="products-box">
                    <div class="products-name">Продукт 1</div>
                </div>
            </a>

            <a class="products-link" href="">
                <div class="products-box">
                    <div class="products-name">Продукт 1</div>
                </div>
            </a>

            <a class="products-link" href="">
                <div class="products-box">
                    <div class="products-name">Продукт 1</div>
                </div>
            </a>

        </div>
    </div>
</div>