<div class="container">
    <div class="product-page">
        <div class="product-page-slider"></div>
        <div class="product-page-info">
            <div class="product-page-title">Название товара</div>
            <div class="product-page-description">Описание товара</div>
            <a class="product-page-btn" href="">Купить</a>
        </div>
    </div>
</div>