<div class="container">
    <div class="product-page">

        <div class="slider">
            <div class="item">
                <img src="images/slider/1.jpg" alt="Первый слайд">
            </div>

            <div class="item">
                <img src="images/slider/2.jpg" alt="Второй слайд">
            </div>

            <div class="item">
                <img src="../images/slider/3.jpg" alt="Третий слайд">
            </div>
            <div class="container">
                <a class="prev" onclick="minusSlide()">&#10094;</a>
                <a class="next" onclick="plusSlide()">&#10095;</a>
            </div>
        </div>

        <div class="product-slider-dots">
            <span class="product-slider-dots_item">123</span>
        </div>

        <div class="product-page-info">
            <div class="product-page-title">Название товара</div>
            <div class="product-page-description">Описание товара Описание товара Описание товара Описание товара Описание товара Описание товара Описание товара </div>
            <a class="product-page-btn" href="">Купить</a>
        </div>
    </div>
</div>