<div class="container">
    <div class="products">
        <h2 class="product-title"><span class="title-color">Наша</span> продукция</h2>
        <div class="product-subtitle">Подзаголовок</div>
        <div class="products-wrapper">

            <div class="product-box">
                <div class="product-name">Продукт 1</div>
            </div>

            <div class="product-box">
                <div class="product-name">Продукт 2</div>
            </div>

            <div class="product-box">
                <div class="product-name">Продукт 3</div>
            </div>

            <div class="product-box">
                <div class="product-name">Продукт 4</div>
            </div>

            <div class="product-box">
                <div class="product-name">Продукт 5</div>
            </div>

            <div class="product-box">
                <div class="product-name">Продукт 6</div>
            </div>

        </div>
    </div>
</div>