.footer{
    background-color: var(--gray);
    height: 200px;
}

.footer-wrapper{
    display: flex;
}

.footer-menu-logo{

}

.menu-logo{
    width: 100px;
    height: 100px;
}

.footer-menu-items{
    list-style: none;
    padding-left: 0;
}

.footer-menu-page{
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s;
}

.footer-menu-page:hover{
    color: #ff9900;
}

.footer-menu-item{
    margin-top: 8px;
}

.footer-contacts-phone{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 16px;
}
