.footer{
    background-color: var(--gray);
    height: 200px;
}

.footer-wrapper{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
}

.footer-menu-logo{

}

.menu-logo{
    width: 100px;
    height: 100px;
}

.footer-menu-items{
    list-style: none;
    padding-left: 0;
}

.footer-menu-page{
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    transition: all 0.4s;
}

.footer-menu-page:hover{
    color: var(--orange);
}

.footer-menu-item{
}

.footer-contacts-phone{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-bottom: 5px;
}

.footer-contacts-address{
    color: #fff;
    font-size: 16px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer-politics{
    margin-bottom: 15px;
}

.footer-politics-link{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.footer-dev-link{
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-top: 15px;
}

