.modal-form {
    width: 340px;
    height: 340px;
    padding: 20px 30px;
    border: 2px solid var(--orange);
    border-radius: 8px;
    box-shadow: 0 0 40px -10px #000;
    background-color: #e6e6e6;
}

.modal-dialog {
    text-align: -webkit-center;
}

.modal-header .close {
    padding: 0;
    font-size: 24px;
    transition: color 0.4s;
}

.modal-header .close:hover {
    color: var(--orange)
}

.modal-form input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    background: none;
    outline: none;
    resize: none;
    border: 0;
    transition: all 0.3s;
    border-bottom: 2px solid var(--gray);
}

.modal-form input:focus {
    border-bottom: 2px solid var(--orange);
}

.modal-form .modal-footer button {
    border: 1px solid var(--gray);
    padding: 5px 10px;
    border-radius: 3px;
    background: 0;
    font-size: 16px;
    font-weight: 500;
    color: var(--orange);
    transition: all 0.4s;
}
.modal-form .modal-footer button:hover {
    border: 1px solid #000;
    color: #000;
    background: var(--orange);
}

.modal-form .modal-decor {
    position: absolute;
    bottom: -15px;
    right: -20px;
    background: var(--gray);
    color: #fff;
    width: 320px;
    padding: 16px 4px 16px 0;
    border-bottom: 1px solid var(--orange);
    border-right: 1px solid var(--orange);
    border-radius: 6px;
    font-size: 13px;
    box-shadow: 10px 10px 40px -14px #000;
}
.modal-form .modal-decor span {
    margin: 0 5px 0 15px;
}