.menu {
    position: relative;
    z-index: 1;
    background-color: var(--gray);
    height: 100px;
    border-bottom: 2px solid var(--orange);
}

.menu-contacts-items li a {
    color: #FFF;
    font-weight: 500;
    transition: all 0.4s;
}

.menu-contacts-items li a:hover {
    color: var(--orange);
}

.menu-pages li a.active {
    color: var(--orange);
}

.contact-btn {
    padding: 3px 8px;
    width: 200px;
    background: none;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 3px;
    color: var(--orange);
    font-size: 16px;
    font-weight: 500;
    transition: all 0.6s;
}

.contact-btn:hover {
    border: 1px solid #000;
    color: #000;
    background: var(--orange);
}

.menu-pages li > a {
    padding: 5px 10px;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #FFF;
    transition: all 0.4s;
    position: relative;
}
.menu-pages li > a::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.4s;
    border: 1px solid rgba(255, 153, 0, 0.8);
    transform: scale(1.1,1.1);
}

.menu-pages li > a:hover::after {
    opacity: 1;
    transform: scale(1,1);
}

.menu-pages .dropdown > a::after {
    border-bottom: none;
}

.dropdown-menu {
    background: var(--gray);
    width: 100%;
    padding-left: 0;
    border: 1px solid var(--orange);
    border-top: none;
    margin-top: -2px;
}

nav.navbar .dropdown:hover > .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: #fff;
    transition: 0.4s;
}

.dropdown-item:hover {
    color: var(--orange);
    background-color: var(--gray);
}

.logout {
    display: block;
    position: absolute;
    text-decoration: none;
    padding: 15px 15px;
    text-align: center;
    right: 20px;
    top: 21px;
    background: none;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 3px;
    color: var(--orange);
    font-size: 16px;
    font-weight: 500;
    transition: all 0.4s;
}

.logout:hover {
    text-decoration: none;
    border: 1px solid #000;
    color: #000;
    background: var(--orange);
}