.products-title{
    text-align: center;
    font-size: 30px;
    color: #000000;
}

.products-subtitle{
    text-align: center;
    font-size: 24px;
    color: #000000;
}

.products-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.products-box{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    background: url("https://avatars.mds.yandex.net/get-altay/492546/2a0000015efeea9379e5ee41d6be12ed6d64/XXL");
    margin-bottom: 75px;
}

.products-name{
    color: var(--);
}