@import url('bootstrap/css/bootstrap.min.css');
@import url('fonts/fonts.css');

@import url('css/navbar.css');
@import url('css/form.css');

@import url('css/home.css');
@import url('css/about.css');
@import url('css/production.css');
@import url('css/works.css');
@import url('css/news.css');
@import url('css/contacts.css');

@import url('css/footer.css');

@import url('css/admin.css');

* {
    font-family: 'Chakra Petch', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    min-height: calc(100vh - 216px);
}

button {
    border: unset;
}

:root {
    --gray: #1d1c1c;
    --orange: #ff5800;
}

span.title-color {
    color: var(--orange);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

body::-webkit-scrollbar {
    width: 5px;               /* ширина scrollbar */
}
body::-webkit-scrollbar-track {
    background-color: var(--gray);
}
body::-webkit-scrollbar-thumb {
    background-color: var(--orange);    /* цвет плашки */
    border-radius: 20px;       /* закругления плашки */
}

ul {
    list-style: none;
}