@import url('fonts/fonts.css');

@import url('css/navbar.css');
@import url('css/form.css');

@import url('css/home.css');
@import url('css/about.css');
@import url('css/production.css');
@import url('css/works.css');
@import url('css/news.css');
@import url('css/contacts.css');

@import url('css/footer.css');

@import url('css/admin.css');

* {
    font-family: 'Chakra Petch', sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.wrapper {
    position: relative;
    min-height: calc(100vh - 228px);
    padding-bottom: 228px;
}

.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
    padding: 25px 0;
}

:root {
    --gray: #1d1c1c;
    --orange: #ff9900;

    --title: 36px;
}

span.title-color {
    color: var(--orange);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; // Yeah, yeah everybody write about it
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}

