* {
  font-family: 'Roboto', sans-serif;
}

:root{
  --gray: #1d1c1c;
}
/*БЛОК МЕНЮ*/
.menu {
  background-color: var(--gray);
  height: 100px;
}

.menu-items{
  list-style-type: none;
  display: flex;
  justify-content: center;
}

.menu-item{
  margin-right: 30px;
  margin-top: 40px;
}

.menu-page {
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  padding: 10px;
  color: #FFF;
  transition: all 0.5s;
  position: relative;
}
.menu-page::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(29, 28, 28, 0.1);
  transition: all 0.3s;
}
.menu-page:hover::before {
  opacity: 0 ;
  transform: scale(0.5,0.5);
}
.menu-page::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 1px solid rgba(255, 153, 0, 0.8);
  transform: scale(1.2,1.2);
}
.menu-page:hover::after {
  opacity: 1;
  transform: scale(1,1);
}
/*КОНЕЦ БЛОКА МЕНЮ*/
