.about {
    z-index: 1;
    background-color: #FFFFFF;
    height: 500px;
    border-top: 2px solid var(--orange);
    border-bottom: 2px solid var(--orange);
}

.about-title {
    font-size: var(--title);
    color: #000000;
    text-align: center;
    margin: 25px 0;
}

.about-description {
    color: #FFFFFF;
    margin: 0 100px;
}