.home-production {
    padding: 20px 0;
    background-color: var(--gray);
}

.home-production h2 {
    color: #FFFFFF;
}

.home-production .tab-pane {
    color: #FFFFFF;
}

.home-production a {
    padding: 0;
}

.home-production .nav-tabs {
    border-bottom: none;
}

.home-production .nav-item {
    margin-bottom: 15px;
}