.add-news-title{
    text-align: center;
}

.news-input-title {
    width: 99%;
    height: 35px;
    border: 2px solid #000;
    padding: 5px;
    border-radius: 5px;
}

.news-input-title:focus{
    color: #212529;
    outline: 0;
    border-radius: 5px;
    border: 2px solid #03a9f4;
}

.news-input-description {
    width: 99%;
    height: 330px;
    border: 2px solid #000;
    padding: 5px;
    resize: none;
    border-radius: 5px;
}

.news-input-description:focus {
    color: #212529;
    outline: 0;
    border-radius: 5px;
    border: 2px solid #03a9f4;
}

.news-field-img {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
}

.news-input-img {
    height: 35px;
    border: 2px solid #000;
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.news-btn {
    width: 200px;
    height: 60px;
    border: 2px solid #000;
    background: #fff;
    transition: 0.4s;
    font-size: 18px;
}

.news-btn:hover{
    color: #fff;
    background: #000;
    cursor: pointer;
}