.news {
    padding: 20px 0;
    background-color: #fff;
}

.news .news-list {
    margin: 15px;
}

.news .news-list > .row {
    padding: 15px;
    border: solid 1px var(--orange);
}

.news .news-list .col-4 {
    padding: 0;
}

.news .news-list .col {
    padding: 0 25px;
}

.news .news-list hr {
    margin-top: -5px;
    margin-bottom: 0;
}

.news .news-list .news-content {
    padding: 0 10px;
    overflow: hidden;
    transition: all 1s;
}

.news .hidden {
    max-height: 110px;
}

.news .show {
    max-height: 100%;
}

.news .news-list .news-content p {
    text-indent: 7%;
}

.news .news-list .news-button {
    margin-top: 5px;
    margin-right: 0;
}

.news .news-list .news-button button {
    color: var(--orange);
    padding: 5px 20px;
    border: solid 1px #000;
    border-radius: 4px;
    background: none;
    transition: 0.4s;
}

.news .news-list .news-button button:hover {
    border: solid 1px #fff;
    color: #000;
    background: var(--orange);
}