.add-title{
    text-align: center;
    margin-top: 50px;
}

.add-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-field-title{
    height: 35px;
    margin-bottom: 25px;
}

.add-input-title{
    height: 35px;
    width: 500px;
    border: 2px solid #000;
    padding: 5px;
}

.add-field-descr{
    height: 95px;
    margin-bottom: 25px;
}

.add-input-descr{
    width: 500px;
    height: 95px;
    border: 2px solid #000;
    padding: 5px;
    resize: none;
}

.add-field-price{
    height: 35px;
    margin-bottom: 25px;
}

.add-input-price{
    width: 500px;
    height: 35px;
    border: 2px solid #000;
    padding: 5px;
}

.add-field-img{
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
}

.add-input-img{
    width: 500px;
    height: 35px;
    border: 2px solid #000;
    opacity: 0;
    visibility: hidden;
    position: absolute;
}

.add-btn{
    width: 120px;
    height: 50px;
    border: 2px solid #000;
    background: #fff;
    transition: 0.4s;
}

.add-btn:hover{
    color: #fff;
    background: #000;
    cursor: pointer;
}

.input-file-icon-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-right: 1px solid #fff;
}

.input-file-button-text {
    line-height: 1;
    margin-top: 1px;
}

.input-file-button {
    width: 100%;
    max-width: 510px;
    height: 60px;
    color: #000;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    border-radius: 3px;
    cursor: pointer;
    border: 2px solid #000;
}