.breadcrumbs{
    padding: 0;
}

.breadcrumbs-item{
    display: inline-block;
}

.breadcrumbs-item:not(:last-of-type)::after{
    content: '/';
    margin: 0 5px;
    color: #ccc;
}

.breadcrumbs-link, .breadcrumbs-link:hover {
    color: #000;
    text-decoration: none;
}

.products {
    padding: 20px 0;
}

.products-link {
    height: 400px;
    background: #fff;
    transition: all 0.4s;
    perspective: 500px;
}

.card-title {
    font-size: 20px;
    color: #fff;
}

.btn-card{
    width: 100px;
    height: 30px;
    background: var(--orange);
    border: none;
    text-decoration: none;
    color: #000;
    line-height: 30px;
    text-align: center;
    transition: all 0.4s;
}

.btn-card:hover{
    text-decoration: none;
    background: #fff;
    color: var(--orange);
}

.products-link:hover .front {
    transform: rotateY(180deg);
}

.products-link:hover .back {
    transform: rotateY(0deg);
}

.products-link .back{
    display: flex;
    flex-direction: column;
    transform: rotateY(-180deg);
}

.products-link .front, .products-link .back
{
    position:absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: all 0.5s ease-in;
    color: white;
    background-color: var(--gray);
    backface-visibility: hidden;
}

.add-product-li {
    list-style: none;
}

.add-product {
    display: block;
    text-decoration: none;
    padding: 15px 15px;
    text-align: center;
    background: none;
    cursor: pointer;
    border: 1px solid var(--gray);
    border-radius: 3px;
    color: var(--orange);
    font-size: 16px;
    font-weight: 500;
    transition: all 0.4s;
}

.add-product:hover {
    background-color: #ff9900;
    border: 1px solid #fff;
    color: var(--gray);
}
