.products-title{
    text-align: center;
    font-size: 30px;
    margin: 0;
    color: #000;
}

.products-subtitle{
    text-align: center;
    font-size: 24px;
    color: #000;
}

.products-wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.products-link{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 260px;
    height: 400px;
    background: #fff;
    margin-bottom: 75px;
    transition: all 0.4s;
    position: relative;
    perspective: 500px;
}

.products-img {
    width: 100%;
    height: 60%;
}

.front .products-name {
    font-size: 20px;
    height: 25%;
    text-align: center;
    color: #fff;
    padding: 15px 15px 10px;
}

.back .products-name {
    padding-top: 10%;
    font-size: 20px;
    height: 5%;
    text-align: center;
    color: #fff;
}

.back .products-description {
    padding: 10px 15px;
    text-align: center;
    height: 62%;
}

.front .products-price {
    padding: 0 15px;
    text-align: center;
}

.back .products-price {
    padding: 0 15px;
    height: 10%;
    text-align: center;
}

.btns {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.btn-card{
    width: 100px;
    height: 30px;
    background: var(--orange);
    border: none;
    text-decoration: none;
    color: #000;
    line-height: 30px;
    text-align: center;
    transition: all 0.4s;
}

.btn-card:hover{
    background: #fff;
}

.add-product-li {
    list-style: none;
}

.add-product {
    display: block;
    position: absolute;
    text-decoration: none;
    padding: 15px 15px;
    right: 31.5vh;
    top: 125px;
    text-align: center;
    background: none;
    cursor: pointer;
    border: 1px solid var(--gray);
    border-radius: 3px;
    color: var(--orange);
    font-size: 16px;
    font-weight: 500;
    transition: all 0.4s;
}

.add-product:hover {
    background-color: #ff9900;
    border: 1px solid #fff;
    color: var(--gray);
}

.products-link:hover .front {
    transform: rotateY(180deg);
}

.products-link:hover .back {
    transform: rotateY(0deg);
}

.products-link .back{
    display: flex;
    flex-direction: column;
    transform: rotateY(-180deg);
}

.products-link .front, .products-link .back
{
    position:absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    transition: all 0.5s ease-in;
    color: white;
    background-color: var(--gray);
    backface-visibility: hidden;
}
