.products-title{
    text-align: center;
    font-size: 30px;
    margin: 0;
    color: #000;
}

.products-subtitle{
    text-align: center;
    font-size: 24px;
    color: #000;
}

.products-wrapper{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 50px;
}

.products-link{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    width: 260px;
    height: 400px;
    background: var(--gray);
    margin-bottom: 75px;
    transition: all 0.4s;
}

.products-link:hover{
    transform: scale(1.1, 1.1);
    border: 1px solid var(--orange);
}

.products-box{
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    /*width: 400px;*/
    /*height: 300px;*/
    /*background: url("https://avatars.mds.yandex.net/get-altay/492546/2a0000015efeea9379e5ee41d6be12ed6d64/XXL");*/
    /*margin-bottom: 75px;*/
}

.products-img {
    width: 100%;
    height: 200px;
}

.products-name{
    font-size: 20px;
    margin-top: 18px;
    padding-top: 10px;
    text-align: center;
    color: #fff;
}

.products-description {
    margin-top: 18px;
    padding: 5px 12px;
    color: #fff;
    text-align: center;
}

.btns {
    display: flex;
    justify-content: space-around;
    margin-top: 18px;
}

.btn-card{
    width: 100px;
    height: 30px;
    background: var(--orange);
    border: none;
    text-decoration: none;
    color: #000;
    line-height: 30px;
    text-align: center;
    transition: all 0.4s;
}

.btn-card:hover{
    background: #fff;
}

.add-product-li {
    list-style: none;
}

.add-product {
    display: block;
    position: absolute;
    text-decoration: none;
    padding: 15px 15px;
    right: 31.5vh;
    top: 125px;
    text-align: center;
    background: none;
    cursor: pointer;
    border: 1px solid var(--gray);
    border-radius: 3px;
    color: var(--orange);
    font-size: 16px;
    font-weight: 500;
    transition: all 0.4s;
}

.add-product:hover {
    background-color: #ff9900;
    border: 1px solid #fff;
    color: var(--gray);
}